PORT=4000
NODE_ENV=production
DATABASE_URL="postgresql://postgres.cavaopitgwwxfpptnwcw:zAbEMHyW7nA0uTdR@aws-1-ap-northeast-1.pooler.supabase.com:6543/postgres?sslmode=require"
JWT_SECRET=b9EuERKMK3jxtUzIyibk7jyipScW/sbfQSC+jWsl6/Q=

# AI Providers
GROQ_API_KEY="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"
GROQ_MODEL="llama-3.3-70b-versatile"
GEMINI_API_KEY="AIzaSyCphGB390pIpxv7p0txCres-qbpdkj04sA"
GEMINI_MODEL="gemini-2.5-flash"

# Scouting & Discovery
SERPAPI_API_KEY="your-serpapi-key"
SCRAPERAPI_API_KEY="your-scraperapi-key"

# Frontend
FRONTEND_URL=https://nandaracorporation.vercel.app/

# SMTP (Hostinger)
SMTP_HOST=smtp.hostinger.com
SMTP_PORT=465
SMTP_USER=marketing@nandaranusamontierra.com
SMTP_PASS=Ghfso#!@!5246!#!@g7
SMTP_FROM=marketing@nandaranusamontierra.com
SMTP_SECURE=true

# IMAP (Hostinger)
IMAP_HOST=imap.hostinger.com
IMAP_PORT=993
IMAP_USER=marketing@nandaranusamontierra.com
IMAP_PASS=Ghfso#!@!5246!#!@g7
IMAP_SECURE=true

# Google Sheets
GOOGLE_SHEET_ID=1RofwR6VwLcHEmOyRMMgJkYtMtYMWvfQdRPq9TcTvY4k
GOOGLE_SCRIPT_URL=https://script.google.com/macros/s/AKfycbzWbBT0e251UaESgkaktbmsBMxstKREAt8J1_ht8l7tuTnfiTnFGRza6WyR8wiadf6Y/exec
VITE_API_URL = https://nandara-backend.onrender.com/api